<!DOCTYPE html>
<html lang="ko" style="align-items: center">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/ChoHyunGook/pubpic/blob/main/new_blaubit.png?raw=true">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blaubit Version Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="text-align: center">
    <br />
    <br />
<img src="https://github.com/ChoHyunGook/pubpic/blob/main/new_blaubit.png?raw=true"
     width="300" height="100">
    <br />
<h2>File Management</h2>
<h4>|| 접속부서 : <%= data.department %> || 접속한 시간 : <%= data.date %> || 접속한 ip : <%= data.ip %> ||</h4>
    <h4>|| 접속한 아이디 : <%= data.access_id %> || 접속한 담당자 : <%= data.access_name %> || </h4>

    <div id="serverData" style="display: none"><%= JSON.stringify(serverData) %></div>
    <div id="documentData" style="display: none"><%= JSON.stringify(documentData) %></div>
    <div id="appData" style="display: none"><%= JSON.stringify(appData) %></div>
    <div id="deviceData" style="display: none"><%= JSON.stringify(deviceData) %></div>
    <div id="loginData" style="display: none"><%= JSON.stringify(data) %></div>
    <div id="uploadData" style="display: none"><%= JSON.stringify(uploadData) %></div>


<br/>



    <div class="outset">

    <form
                action="http://socket.doorbellsquare.com:8080/uploadS3File"
                method="post" enctype="multipart/form-data"
        >
        <h3> 파일 업로드 </h3>
        <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
        <input type="file" name="file" id="file" style="width: 350px; padding-right: 10px">
            <button type="submit" class="custom-btn btn-12">
                <span> Upload !</span>
                <span> 파일 업로드 </span>
            </button>

        </form>
    </div>
<br/>
    <div class="outset">
        <form
                action="http://socket.doorbellsquare.com:8080/department/version/download"
                method="post"
                enctype="application/x-www-form-urlencoded"
        >
            <h3> 파일 다운로드 </h3>
            <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
            <% if (data.department === 'Server' || data.department === 'CEO') { %>

                <select name='allCheck' id="select_department" onchange="changeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Server" value="Server">Server</option>
                    <option name="Front" value="Front">Front</option>
                    <option name="Device" value="Device">Device</option>
                    <option name="App" value="App">App</option>
                </select>

                <select name="devSelect" id="devSelect" onchange="devCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="versionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>


                <button type="submit" class="custom-btn btn-12">
                    <span> Download !</span>
                    <span> 다운로드 </span>
                </button>

            <% } %>

            <% if (data.department === 'Front') { %>
                <select name='allCheck' id="select_department" onchange="changeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Front" value="Front">Front</option>
                </select>

                <select name="devSelect" id="devSelect" onchange="devCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="versionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Download !</span>
                    <span> 다운로드 </span>
                </button>

            <% } %>

            <% if (data.department === 'App') { %>
                <select name='allCheck' id="select_department" onchange="changeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="App" value="App">App</option>
                </select>

                <select name="devSelect" id="devSelect" onchange="devCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="versionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Download !</span>
                    <span> 다운로드 </span>
                </button>

            <% } %>

            <% if (data.department === 'Device') { %>
                <select name='allCheck' id="select_department" onchange="changeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Device" value="Device">Device</option>
                </select>

                <select name="devSelect" id="devSelect" onchange="devCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="versionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Download !</span>
                    <span> 다운로드 </span>
                </button>
            <% } %>
        </form>
    </div>
    <br/>

    <% if (data.department === 'Server' || data.department === 'CEO') { %>
        <div class="outset">
            <form
                    action="http://socket.doorbellsquare.com:8080/management/documents/file/download"
                    method="post"
                    enctype="application/x-www-form-urlencoded"
            >
                <h3> 문서 다운로드 </h3>
                <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
                <select name='docCheck' id="select_department" onchange="changeDocuments(this)">
                    <option value="none" selected>선택</option>
                    <option name="Server" value="Server">Server</option>
                </select>
                <select name='documents' id="documents" style="width: 170px; padding-right: 10px">
                    <option> 문서 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Download !</span>
                    <span> 다운로드 </span>
                </button>

            </form>
        </div>
    <% } %>
    <br/>

    <div class="outset">
        <form
                action="http://socket.doorbellsquare.com:8080/department/version/delete/file"
                method="post"
                enctype="application/x-www-form-urlencoded"
        >
            <h3> 업로드 파일 삭제 </h3>
            <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">
            <% if (data.department === 'Server' || data.department === 'CEO') { %>

                <select name='allCheck' id="select_department" onchange="delChangeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Server" value="Server">Server</option>
                    <option name="Front" value="Front">Front</option>
                    <option name="Device" value="Device">Device</option>
                    <option name="App" value="App">App</option>
                </select>

                <select name="devSelect" id="delDevSelect" onchange="delDevCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="delVersionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>


                <button type="submit" class="custom-btn btn-12">
                    <span> Delete !</span>
                    <span> 삭제하기 </span>
                </button>

            <% } %>

            <% if (data.department === 'Front') { %>
                <select name='allCheck' id="select_department" onchange="delChangeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Front" value="Front">Front</option>
                </select>

                <select name="devSelect" id="delDevSelect" onchange="delDevCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="delVersionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Delete !</span>
                    <span> 삭제하기 </span>
                </button>

            <% } %>

            <% if (data.department === 'App') { %>
                <select name='allCheck' id="select_department" onchange="delChangeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="App" value="App">App</option>
                </select>

                <select name="devSelect" id="delDevSelect" onchange="delDevCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="delVersionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Delete !</span>
                    <span> 삭제하기 </span>
                </button>

            <% } %>

            <% if (data.department === 'Device') { %>
                <select name='allCheck' id="select_department" onchange="delChangeCheckBox(this)">
                    <option value="none" selected>선택</option>
                    <option name="Device" value="Device">Device</option>
                </select>

                <select name="devSelect" id="delDevSelect" onchange="delDevCheck(this)">
                    <option> 개발 선택 </option>
                </select>

                <select name="versionSelect" id="delVersionSelect" style="width: 170px; padding-right: 10px">
                    <option> 버전 선택 </option>
                </select>

                <button type="submit" class="custom-btn btn-12">
                    <span> Delete !</span>
                    <span> 삭제하기 </span>
                </button>
            <% } %>
        </form>
    </div>

    <br/>
    <% if (data.department === 'Server' || data.department === 'CEO') { %>
        <div class="outset">
            <form
                    action="http://socket.doorbellsquare.com:8080/management/history/log"
                    method="post"
                    enctype="application/x-www-form-urlencoded"
            >
                <h3> History 조회 </h3>
                <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">

                    <button type="submit" class="custom-btn btn-12">
                        <span> Find it !</span>
                        <span> 조회하기 </span>
                    </button>

            </form>
        </div>
    <% } %>


</div>

</body>



<script>

    let devSelect
    let allCheck
    let docCheck

    function changeDocuments(e){
        const select = e.value
        let serverData = JSON.parse(document.getElementById('documentData').innerHTML)
        let contents =[]

        var target =document.getElementById('documents')

        docCheck = select

        if(docCheck === 'Server'){
            serverData.map(e=>{
                if(e.key.split('/')[1] === 'documents'){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        }
        contents = [contents[contents.length -1],...contents]
        contents.pop()

        target.options.length = 0;
        for(x in contents){
            var opt = document.createElement("option");
            opt.value = contents[x];
            opt.name = contents[x]
            opt.innerHTML = contents[x];
            target.appendChild(opt);
        }

    }

    function changeCheckBox(e){
        const select = e.value
        let serverSelect = ['=== 선택 ===','apiServer','doorbellAdmin','doorbellGo','lambda','sleepcore','fastStroke']
        let frontSelect = ['=== 선택 ===','doorbellAdmin','sleepcore','fastStroke','myrucell']
        let deviceSelect = ['=== 선택 ===','bldb','bldc','blwc','blvc','blsi']
        let appSelect = ['=== 선택 ===','doorbellApp','sleepcoreApp','fastStrokeApp','myrucellApp']

        var target =document.getElementById('devSelect')
        if(select === 'Server') var contents = serverSelect
        if(select === 'Front') var contents = frontSelect
        else if(select === 'Device') var contents = deviceSelect
        else if(select === 'App') var contents = appSelect
        target.options.length = 0;
        for(x in contents){
            var opt = document.createElement("option");
            opt.value = contents[x];
            opt.name = contents[x]
            opt.innerHTML = contents[x];
            target.appendChild(opt);
        }

        allCheck = select

    }

    function devCheck(e){
        const select = e.value
        const serverData = JSON.parse(document.getElementById('serverData').innerHTML)
        const frontData = JSON.parse(document.getElementById('serverData').innerHTML)
        const appData = JSON.parse(document.getElementById('appData').innerHTML)
        const deviceData = JSON.parse(document.getElementById('deviceData').innerHTML);

        let contents =[]

        var target =document.getElementById('versionSelect')
        if(allCheck === 'Server'){
            serverData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        }else if(allCheck === 'Front'){
            frontData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{

                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        }else if(allCheck === 'Device'){
            deviceData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        } else if(allCheck === 'App'){
            appData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })

        }

        target.options.length = 0;
        contents = [contents[contents.length -1],...contents]
        contents.pop()

        for(x in contents){
            var opt = document.createElement("option");
            opt.value = contents[x];
            opt.name = contents[x]
            opt.innerHTML = contents[x];
            target.appendChild(opt);
        }

    }

    function delChangeCheckBox(e){
        const select = e.value
        let serverSelect = ['=== 선택 ===','apiServer','doorbellAdmin','doorbellGo','lambda','sleepcore','fastStroke','documents']
        let frontSelect = ['=== 선택 ===','doorbellAdmin','sleepcore','fastStroke','myrucell']
        let deviceSelect = ['=== 선택 ===','bldb','bldc','blwc','blvc','blsi']
        let appSelect = ['=== 선택 ===','doorbellApp','sleepcoreApp','fastStrokeApp','myrucellApp']

        var target =document.getElementById('delDevSelect')
        if(select === 'Server') var contents = serverSelect
        else if(select === 'Front') var contents = frontSelect
        else if(select === 'Device') var contents = deviceSelect
        else if(select === 'App') var contents = appSelect
        target.options.length = 0;
        for(x in contents){
            var opt = document.createElement("option");
            opt.value = contents[x];
            opt.name = contents[x]
            opt.innerHTML = contents[x];
            target.appendChild(opt);
        }

        allCheck = select

    }

    function delDevCheck(e){
        const select = e.value
        const serverData = JSON.parse(document.getElementById('serverData').innerHTML)
        const appData = JSON.parse(document.getElementById('appData').innerHTML)
        const deviceData = JSON.parse(document.getElementById('deviceData').innerHTML);
        const documentData = JSON.parse(document.getElementById('documentData').innerHTML);
        let contents =[]

        var target =document.getElementById('delVersionSelect')
        console.log(select)
        if(allCheck === 'Server'){
            if(select === 'documents'){
                documentData.map(e=>{
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                })
            }else{
                serverData.map(e=>{
                    if(e.key.split('/')[1] === select){
                        if(e.key.split('/')[2].length === 0){
                            contents.push('=== 선택 ===')
                        }else{
                            contents.push(e.key.split('/')[2])
                        }
                    }
                })
            }

        }else if(allCheck === 'Front'){
            serverData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        }
        else if(allCheck === 'Device'){
            deviceData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        } else if(allCheck === 'App'){
            appData.map(e=>{
                if(e.key.split('/')[1] === select){
                    if(e.key.split('/')[2].length === 0){
                        contents.push('=== 선택 ===')
                    }else{
                        contents.push(e.key.split('/')[2])
                    }
                }
            })
        }

        target.options.length = 0;
        contents = [contents[contents.length -1],...contents]
        contents.pop()

        for(x in contents){
            var opt = document.createElement("option");
            opt.value = contents[x];
            opt.name = contents[x]
            opt.innerHTML = contents[x];
            target.appendChild(opt);
        }

    }


</script>

</html>