<!DOCTYPE html>
<html lang="ko" style="align-items: center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blaubit Version Management(Update Success)</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="text-align: center">
    <br />
    <br />
    <img src="https://github.com/ChoHyunGook/pubpic/blob/main/new_blaubit.png?raw=true"
         width="350" height="120">
    <br />
    <h1>Update Completed</h1>
    <h3>|| 업데이트 부서 : <%= data.department %> || 업데이트 시간 : <%= data.date %> ||</h3>
    <h3>|| 업데이트 아이디 : <%= data.access_id %> || 업데이트 담당자 : <%= data.access_name %> || </h3>
    <br />
    <div class="outset">
            <h1> 버전 파일 업로드 성공</h1>
        <h2> 업로드 파일명 : <%= data.contents.split('.')[2]+'.'+data.contents.split('.')[3]+'.'+data.contents.split('.')[4] %></h2>
    </div>
    <br/>

</div>
</body>
</html>